h3{
    width: 300px;
    margin: auto;
}

.beginbutton{
    width: 191px;
    border-radius: 12px;
    padding: 4px;
}

.begin {
    color:antiquewhite;    
}

.content {
    padding: 10px;
}

/*Ajenos*/
.errors, .noterr{
    font-size: 9px;
}

.errors {
    color: red;
}

.noterr {
    color: green;
}

/*De <Up/>*/
