.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.generalform{
  border: 4px double red ;
  border-radius: 10px;
  width: 50%;
  color: olivedrab;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
}

.danger{
  color: orangered;
}
.alto{
  display: flex;
  align-items: center;
  height: 20%;
  border: 1px solid blue;
}

.buttondiv > button, .selector{
  color:lightseagreen;
  font-size: large;
}

.selectorstyle{
  color: red;
  font-size: larger;
  font-weight: bolder;
}

