.upbody {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  max-height: fit-content;
}
.upbody .upright,
.upbody .upleft {
  border: 1px solid black;
  background-color: #160c0c;
  color: yellow;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 13px;
  margin: 20px;
  width: 40%;
  min-width: 35%;
}
.upbody .upleft {
  text-align: center;
  /* margin: auto; */
  display: flex;
}
.upbody .upleft .text {
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}
.upbody .upright .changerol {
  display: block;
  margin: 10px auto;
  /* justify-content: space-between;
            align-content: space-between; */
  background-color: #292424;
  border-radius: 10px;
  padding: 10px 0;
}
.upbody .upright .changerol .headerright,
.upbody .upright .changerol .t {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  width: 75%;
  margin: auto;
}
.upbody .upright #elect {
  display: flex;
  justify-content: end;
  padding: 0 5%;
  width: 35%;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px auto;
  color: #a0752b;
}
.upbody .upright #elect .inputhover {
  cursor: pointer;
}
.upbody .upright #elect:hover {
  color: #a0752b;
  font-weight: 600;
}
@media screen and (max-width: 820px) {
  .upbody {
    display: block;
  }
  .upbody .upright,
  .upbody .upleft {
    padding: 15px 5% ;
    margin: 20px auto;
    min-width: 80%;
  }
  .upbody .upright .changerol {
    padding: 10px 0;
  }
}
@media screen and (max-width: 414px) {
  .upbody .upleft,
  .upbody .upright {
    min-width: 80%;
  }
}
@media screen and (max-width: 280px) {
  .upbody .upleft,
  .upbody .upright {
    padding: 15px 5%;
    margin: 20px auto;
    min-width: 214px;
  }
}
button {
  border-radius: 10px;
  background-color: yellow;
  font-weight: 600;
  padding: 6px;
}
button:hover {
  background-color: #fefe79;
  cursor: pointer;
}
button:disabled {
  background-color: #757537;
}
.title,
.icon,
.legend {
  margin: 1px;
  padding: 2px;
}
.disabled {
  color: gray;
}
.deleteimage {
  color: #b92125;
  background-color: #a0752b;
  border-radius: 10px;
  padding: 0 6px 3px 3px;
}
.deleteimage:disabled {
  cursor: not-allowed;
}
.linkimage {
  display: flex;
  justify-content: space-between;
  background-color: #825f25;
  padding: 0 0 0 4px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}
.linkimage a {
  color: #631009;
}
.a:hover {
  font-weight: bolder;
  color: #b92125;
}
.noteofsaving {
  display: flex;
  justify-content: space-around;
}
.item,
.itemdis {
  border-radius: 10px;
  width: 210px;
  color: aliceblue;
  padding: 20px;
  margin: 10px 5px ;
}
.item .check1,
.itemdis .check1,
.item .check2,
.itemdis .check2 {
  width: 183px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 13px;
  border: 2px solid gray;
  background-color: #323232;
  color: white;
  border-radius: 13px;
  padding: 4px 5px 4px 10px;
}
.item .comment,
.itemdis .comment {
  width: 183px;
  height: 100px;
  border-radius: 5px;
  border-radius: 13px;
  padding: 4px 7.5px;
  background-color: #080404;
  color: blanchedalmond;
}
.item #cattag,
.itemdis #cattag {
  color: orange;
}
.item #subtag,
.itemdis #subtag {
  color: #a0752b;
}
@media screen and (max-width: 414px) {
  .item,
  .itemdis {
    padding: 20px 0;
    min-width: 50%;
    max-width: 98%;
    margin: 10px 1px ;
  }
  .item .check1,
  .itemdis .check1,
  .item .check2,
  .itemdis .check2 {
    width: 60%;
    padding: 4px 5px;
  }
  .item .comment,
  .itemdis .comment {
    width: 60%;
    padding: 4px 5px;
  }
}
@media screen and (max-width: 280px) {
  .item,
  .itemdis {
    padding: 20px 0;
    min-width: 50%;
    max-width: 98%;
  }
}
.item {
  background-color: #100808;
}
.itemdis {
  background-color: rgba(48, 47, 47, 0.96);
}
.itemdis .comment {
  width: 183px;
  height: 100px;
  border: 1px solid green;
  border-radius: 13px;
  padding: 4px 7.5px;
  background-color: gray;
  color: blanchedalmond;
}
.camera .section {
  border: 2px dashed gray;
  width: 60%;
  margin: auto;
}
.check1,
.check2 {
  width: 183px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 13px;
  border: 2px solid gray;
  background-color: #323232;
  color: white;
  border-radius: 13px;
  padding: 4px 5px 4px 10px;
}
#green {
  border: 2px solid green;
}
#red {
  border: 2px solid red;
}
#selected {
  border: 2px solid green;
}
.buttons {
  margin: 10px 5px;
  width: max-content;
  height: 50px;
  border-radius: 5px;
}
h6,
h5,
h4 {
  margin-bottom: 1px;
  margin-top: 3px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.endvisit {
  background-color: #a0752b;
}
.nav {
  min-height: fit-content;
  max-height: min-content;
  width: 100%;
  font-size: 10px;
  background-color: #a0752b;
  color: whitesmoke;
  text-align: left;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav .divham #ham {
  visibility: hidden;
}
.nav #nav1 {
  width: 25%;
  background-color: #631009;
  border: 1px solid #825f25;
  height: max-content;
  padding: 6px 0;
}
.nav #nav2 {
  width: 25%;
  background-color: #631009;
  border: 1px solid #825f25;
  height: max-content;
  padding: 6px 0;
}
.nav #nav3,
.nav #nav4,
.nav #nav5 {
  width: 25%;
  background-color: #631009;
  border: 1px solid #825f25;
  height: max-content;
  padding: 6px 0;
}
.nav #divdis {
  background-color: #444444;
  width: 25%;
  padding: 6px 0;
  height: max-content;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  cursor: not-allowed;
}
.nav #nav1:hover,
.nav #nav2:hover,
.nav #nav3:hover,
.nav #nav4:hover,
.nav #nav5:hover {
  background-color: #b92125;
  cursor: pointer;
}
@media screen and (max-width: 414px) {
  #responsive {
    display: flex;
    background-color: rgba(160, 117, 43, 0.8);
  }
  #responsive #nav1,
  #responsive #nav2,
  #responsive #nav3,
  #responsive #nav4,
  #responsive #nav5 {
    visibility: hidden;
  }
  #responsive #divdis {
    visibility: hidden;
  }
  #responsive .divham {
    padding: 0.5px 0;
  }
  #responsive .divham #ham {
    border-radius: 2px;
    height: 2px;
    width: 24px;
    background-color: black;
    margin: 5.2px 3px;
    visibility: visible;
  }
  #responsive .divham:hover {
    background-color: beige;
    cursor: pointer;
  }
  #displ {
    animation-name: hideOut;
    animation-duration: 0.5s;
    display: block;
    background-color: rgba(160, 117, 43, 0.8);
  }
  #displ #nav1,
  #displ #nav2,
  #displ #nav3,
  #displ #nav4,
  #displ #nav5 {
    cursor: pointer;
    background-color: rgba(99, 16, 9, 0.8);
    width: 97%;
    text-align: left;
    padding-left: 2%;
  }
  #displ #divdis {
    background-color: #444444;
    width: 97%;
    padding: 6px 0;
    height: max-content;
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
    cursor: not-allowed;
    text-align: left;
    padding-left: 2%;
  }
  #displ #nav1:hover,
  #displ #nav2:hover,
  #displ #nav3:hover,
  #displ #nav4:hover,
  #displ #nav5:hover {
    background-color: #b92125;
    cursor: pointer;
  }
  #displ .divham {
    padding: 0.5px 0;
    max-width: 30px;
  }
  #displ .divham #ham {
    border-radius: 2px;
    height: 2px;
    width: 24px;
    background-color: black;
    margin: 5.2px 3px;
    visibility: visible;
  }
  #displ .divham:hover {
    background-color: beige;
    cursor: pointer;
  }
}
.nav1 {
  min-height: fit-content;
  max-height: max-content;
  padding: 2px 5px ;
  font-size: 10px;
  background-color: #a0752b;
  color: whitesmoke;
  text-align: left;
}
b {
  font-size: 11px;
}
.teamcolor {
  color: purple;
  font-weight: 700;
  width: 200px;
  margin: 0;
  padding: 0;
}
.datecolor {
  color: yellowgreen;
  font-weight: 700;
  width: 200px;
  margin: 0;
  padding: 0;
}
.idcolor {
  color: orange;
  font-weight: 700;
  width: 200px;
  margin: 0;
  padding: 0;
}
.closedcolor {
  color: #631009;
  font-weight: 700;
  width: 200px;
  margin: 0;
  padding: 0;
}
@keyframes hideOut {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.pagesbutton {
  width: 13%;
  height: 30px;
  /* border: 1px solid gray; */
  border-radius: 5px;
  /* background-color:rgb(16, 8, 8); */
  /* color: rgb(89, 198, 203); */
}
.pagesbutton:hover {
  background-color: #b92125;
}
.onlybuttons {
  display: flex;
  justify-content: space-between;
  min-width: 220px;
  max-width: 100%;
}
#ok {
  /* border: 2px solid green; */
  background-color: #006200;
}
#pend {
  /* border: 2px solid red; */
  background-color: #631009;
}
h3 {
  width: 300px;
  margin: auto;
}
.beginbutton {
  width: 191px;
  border-radius: 12px;
  padding: 4px;
  border: 3px solid gray;
}
.begin {
  color: antiquewhite;
}
.content {
  padding: 5px;
  max-width: 240px;
  min-width: 200px;
  margin: auto;
}
/*Ajenos*/
.errors,
.noterr {
  font-size: 9px;
}
.errors {
  color: red;
}
.noterr {
  color: #ff2600;
}
.border {
  border: 3px solid green;
}
/*De <Up/>*/
.localvinc {
  font-weight: 400;
  display: block;
  font-size: 14px;
  padding: 0 15px;
}
.first {
  padding-left: 30px;
}
.second {
  padding-left: 45px;
}
.third {
  padding-left: 60px;
}
.fourth {
  padding-left: 75px;
}
.index {
  color: orange;
}
p.localvinc {
  margin: 0;
  font-size: 12px;
}
.help,
.welcome,
.indexguide,
.guide {
  text-align: 'left';
  padding: 15px 10px;
  margin: 10px;
  border-radius: 15px;
}
.help .welcome,
.welcome .welcome,
.indexguide .welcome,
.guide .welcome {
  border: 1px solid yellow;
  background-color: #0f0f00;
  color: yellow;
  font-size: 13px;
}
.help .indexguide,
.welcome .indexguide,
.indexguide .indexguide,
.guide .indexguide {
  border: 1px solid orange;
  background-color: #1e0f00;
  color: orange;
  text-align: start;
}
.help .indexguide a,
.welcome .indexguide a,
.indexguide .indexguide a,
.guide .indexguide a {
  font-size: 12px;
}
.help .guide,
.welcome .guide,
.indexguide .guide,
.guide .guide {
  border: 1px solid yellowgreen;
  background-color: #0f1e00;
  color: yellowgreen;
  text-align: start;
  font-size: 12px;
}
.help {
  border: 1px solid purple;
  background-color: #0f000f;
  color: beige;
}
