h3{
    width: 300px;
    margin: auto;
}

.beginbutton{
    width: 191px;
    border-radius: 12px;
    padding: 4px;
}

.begin {
    color:antiquewhite;    
}

.content {
    padding: 5px;
    max-width: 240px;
    min-width: 200px;
    margin: auto;

    // @media screen and (max-width: 820px){
    
    //     max-width: 240px;
    //     min-width: 200px;
    // }
}

/*Ajenos*/
.errors, .noterr{
    font-size: 9px;
}

.errors {
    color: red;
}

.noterr {
    color: green;
}

/*De <Up/>*/
