

.help, .welcome, .indexguide, .guide{
    text-align: 'left';
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    .welcome{
        border: 1px solid yellow;
        background-color: rgb(20, 20, 0);
        color: yellow;
    }
    .indexguide{
        border: 1px solid orange;
        background-color: rgb(40, 20, 0);
        color: orange;
        text-align: start;
    }
    .guide{
        border: 1px solid yellowgreen;
        background-color: rgb(20, 40, 0);
        color: yellowgreen;
        text-align: start;
    }
    
}
.help{
    border: 1px solid purple;
    background-color: rgb(20, 0, 20);
    color: beige;
}