.nav{
    min-height: 60px;
    max-height: max-content;
    width: 100%;
    font-size: 10px;
    // background-color: rgb(128, 83, 0);
    background-color: @lightpeanut;
    color: whitesmoke;
    text-align: left;
    padding: 10px;
}

#navbegin{
    text-align: center;
}

b{
    font-size: 11px;
}